<body>
    <div class="wrapper">
        <!-- <div class="header"> -->
            <!-- <div class="mod-head">
                <ul class="link only-pc">
                    <li><span class="icon-date">2020-01-01</span></li>
                </ul>
                <a class="logo" href="/"><img src="../../assets/logo.png" width="50" height="50" alt="查询网"></a>
                <a class="menu only-mobile" href="javascript:;" rel="nofollow"><span></span><span></span><span></span></a>
            </div> -->
        <!-- </div> -->
        <div class="container">
            <div class="content">
                <div id="J_share" class="mod-share"></div>
                <div class="mod-panel">
                    <div class="hd"><h1>甄心优选社保计算器</h1></div>
                    <div class="bd">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="item">
                                    <span class="item-title">参保城市</span>
                                    <div class="item-input">
                                        <select id="province" name="province" [(ngModel)]="currProvinceIndex" (change)="provinceChange($event)">
                                            <option *ngFor="let provinceItem of dataList;let i=index" [value]="i">{{provinceItem.name}}</option>
                                        </select>
                                        <select id="city" name="city" [(ngModel)]="currCityIndex" (change)="cityChange()">
                                            <option *ngFor="let cityItem of dataList[currProvinceIndex].children;let j=index" [value]="j">{{cityItem.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="item-title">社保基数</span>
                                    <div class="item-input">
                                        <input id="insureBase" type="number" step="1" min="0" [(ngModel)]="currInputInsure" [placeholder]="currCityStandard.insure[0].minBase"/>
                                        <span id="insureTip" class="text-gray">（范围：{{currCityStandard.insure[0].minBase}} - {{currCityStandard.insure[0].maxBase}}）</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="item-title">公积金基数</span>
                                    <div class="item-input">
                                        <input id="fundBase" type="number" step="1" min="0" [(ngModel)]="currInputFund" [placeholder]="currCityStandard.fund[0].minBase"/>
                                        <span id="fundTip" class="text-gray">（范围：{{currCityStandard.fund[0].minBase}} - {{currCityStandard.fund[0].maxBase}}）</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-foot">
                                <!-- <button class="btn btn-confirm" id="btnConfirm">计算</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="ft">
                        <div class="box">
                            <div class="table-outer">
                                <table>
                                    <caption>社会保险</caption>
                                    <!-- 个人缴纳 -->
                                    <thead>
                                        <tr>
                                            <th rowspan="2">缴费项目</th>
                                            <th colspan="3">个人缴纳</th>
                                        </tr>
                                        <tr>
                                            <th>基数</th>
                                            <th>缴费比例</th>
                                            <th>金额</th>
                                        </tr>
                                    </thead>
                                    <tbody id="insureTbody">
                                      <tr *ngFor="let item of currCityStandard.insure[0].list;let i=index;">
                                        <td>{{item.name}}</td>
                                        <td>{{getInsureConfig(item,1).toFixed(2)}}</td>
                                        <td>{{(item['uRatio']*100).toFixed(2)+'%'}}</td>
                                        <td><span class="text-blue">{{getInsureConfig(item,2).toFixed(2)}}</span></td>
                                      </tr>
                                    </tbody>
                                    <!-- 企业缴纳 -->
                                    <thead>
                                      <tr>
                                          <th rowspan="2">缴费项目</th>
                                          <th colspan="3">企业缴纳</th>
                                      </tr>
                                      <tr>
                                          <th>基数</th>
                                          <th>缴费比例</th>
                                          <th>金额</th>
                                      </tr>
                                  </thead>
                                  <tfoot id="insureTfoot">
                                    <tr>
                                      <td rowspan="3">汇总</td>
                                      <td colspan="3">个人缴纳：<span class="text-red">{{getInsureUserTotal(currCityStandard.insure[0].list,true).toFixed(2)}}</span></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3">公司缴纳：<span class="text-red">{{getInsureCompanyTotal(currCityStandard.insure[0].list,true).toFixed(2)}}</span></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3">合计：<span class="text-red">{{(userInsureTotal+companyInsureTotal).toFixed(2)}}</span></td>
                                    </tr>
                                  </tfoot>
                                  <tbody id="insureTbody">
                                    <tr *ngFor="let item of currCityStandard.insure[0].list;let i=index;">
                                      <td>{{item.name}}</td>
                                      <td>{{getInsureConfig(item,3).toFixed(2)}}</td>
                                      <td>{{(item['cRatio']*100).toFixed(2)+'%'}}</td>
                                      <td><span class="text-blue">{{getInsureConfig(item,4).toFixed(2)}}</span></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box">
                            <div class="table-outer">
                                <table>
                                    <caption>住房公积金</caption>
                                    <!-- 个人缴纳 -->
                                    <thead>
                                        <tr>
                                            <th rowspan="2">缴费项目</th>
                                            <th colspan="3">个人缴纳</th>
                                        </tr>
                                        <tr>
                                            <th>基数</th>
                                            <th>缴费比例</th>
                                            <th>金额</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fundTbody">
                                      <tr *ngFor="let item of currCityStandard.fund[0].list;let i=index;">
                                        <td>{{item.name}}</td>
                                        <td>{{getInsureConfig(item,1).toFixed(2)}}</td>
                                        <td>{{(item['uRatio']*100).toFixed(2)+'%'}}</td>
                                        <td><span class="text-blue">{{getInsureConfig(item,2).toFixed(2)}}</span></td>
                                      </tr>
                                    </tbody>
                                    <!-- 企业缴纳 -->
                                    <thead>
                                      <tr>
                                          <th rowspan="2">缴费项目</th>
                                          <th colspan="3">企业缴纳</th>
                                          <!-- <th width="100" rowspan="2">小计</th> -->
                                      </tr>
                                      <tr>
                                          <th>基数</th>
                                          <th>缴费比例</th>
                                          <th>金额</th>
                                      </tr>
                                  </thead>
                                  <tfoot id="fundTfoot">
                                    <tr>
                                      <td rowspan="3">汇总</td>
                                      <td colspan="3">个人缴纳：<span class="text-red">{{getInsureUserTotal(currCityStandard.fund[0].list,false).toFixed(2)}}</span></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3">公司缴纳：<span class="text-red">{{getInsureCompanyTotal(currCityStandard.fund[0].list,false).toFixed(2)}}</span></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3">合计：<span class="text-red">{{(userFundTotal+companyFundTotal).toFixed(2)}}</span></td>
                                    </tr>
                                  </tfoot>
                                  <tbody id="fundTbody">
                                    <tr *ngFor="let item of currCityStandard.fund[0].list;let i=index;">
                                      <td>{{item.name}}</td>
                                      <td>{{getInsureConfig(item,3).toFixed(2)}}</td>
                                      <td>{{(item['cRatio']*100).toFixed(2)+'%'}}</td>
                                      <td><span class="text-blue">{{getInsureConfig(item,4).toFixed(2)}}</span></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box">
                            <h3>政策与法规说明</h3>
                            <p>1. 计算公式为：缴交费用 = 缴费基数*个人缴费比例 + 缴费基数*企业缴费比例</p>
                            <p class="text-gray">各地会在每年的4月或者7月，根据当地最低工资标准和社会平均工资的统计数据，调整缴存基数，并设置缴存基数的最低值和最高值。具体调整时间和数据，请参考当地社保机构和住房公积金管理机构发布的通知</p>
                            <p>2. 社保缴费比例一般如下：<br/>
                                a) 养老保险：单位<span class="text-blue">20%</span>;，个人<span class="text-blue">8%</span>；<br/>
                                b) 医疗保险：单位<span class="text-blue">8%</span>，个人<span class="text-blue">2%</span>；<br/>
                                c) 失业保险：单位<span class="text-blue">2%</span>，个人<span class="text-blue">1%</span>；<br/>
                                d) 工伤保险和生育保险完全是由企业承担的各在<span class="text-blue">1%</span>左右，个人不需要缴纳；
                            </p>
                            <p>3、社保缴费基数按个人工资水平（在当地社会平均工资的300%—60%范围）来确定，不得低于最低缴费标准；</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
